@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Variables ------------------------------------------------------------------- */
:root {
  --base-color: #d3d3d3;
  --primary-color: #ec5242;
  --secondary-color: #272a31;
}

/* Reset ------------------------------------------------------------------------ */

a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Base Styles ------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--base-color);
  font-family: "Lato", "Inter", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

section {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.underline-sm {
  width: 8%;
  height: 2px;
  background-color: var(--primary-color);
}

.underline-xs {
  width: 6%;
  height: 2px;
  background-color: var(--primary-color);
}

/* Mobile styles ------------------------------------------------------------------ */

header,
section,
footer {
  margin: 0 auto;
  padding: 20px 0.3em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  padding: 0;
}

.navbar {
  padding: 1% 5%;
}

.navbar .nav-branding,
.navbar .fa-xmark,
.navbar ul {
  display: none;
}

.navbar span {
  font-size: 2.5em;
  color: #2b2d31;
}

/* ----------------------------------------- Welcome section ---------------------------------------------- */

.welcome {
  background: url("images/mobile_intro_bg.png");
  background-size: 100%;
}

.welcome-text > span,
.welcome-text > h1,
.welcome-text > p,
.welcome-text > div {
  grid-column: 1/13;
}

.welcome-text {
  margin-top: 5%;
  padding: 5%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-around;
}

.welcome-text h1 {
  font-size: 2em;
  font-weight: 800;
  line-height: 1em;
}

.welcome-text > span {
  font-size: 1.5em;
  line-height: 2em;
}

.welcome-text p {
  color: var(--secondary-color);
  padding: 3%;
  width: 90%;
  border: 3px solid white;
  background-color: #ebebeb;
  border-radius: 5px;
}

.welcome-text h1,
.welcome-text > span {
  color: var(--primary-color);
}

.location-time > span {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1em;
  color: var(--secondary-color);
}

/* ----------------------------------------- Main Program ---------------------------------------------- */

.main-program {
  padding: 2%;
  background: url("images/main-background-icon.PNG");
}

.main-program h1 {
  margin-top: 3%;
  color: white;
}

.main-program :nth-child(2) {
  margin-bottom: 2%;
}

.program-carts {
  row-gap: 10px;
}

.program-cart {
  grid-column: 1/13;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 10px;
  font-size: 1em;
  font-weight: normal;
  justify-content: flex-start;
  align-items: center;
}

.program-cart > img {
  width: 50px;
  margin: 1%;
  justify-self: center;
}

.program-cart > div {
  width: 25%;
  color: var(--primary-color);
}

.program-cart > p {
  width: 60%;
  color: #fff;
}

.cart-title {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1em;
  color: var(--primary-color);
}

.main-program button {
  border: none;
  color: white;
  margin: 3%;
  padding: 15px 20px;
  cursor: pointer;
  background-color: var(--primary-color);
}

.main-program > a {
  display: none;
}

/* ----------------------------------------- Developer Section ---------------------------------------------- */

.developer-section {
  padding: 3% 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  background-color: white;
}

.developer-section h1 {
  color: var(--secondary-color);
  border-bottom: 2px solid #ec5242;
}

.dev-carts {
  gap: 20px;
}

.dev-cart {
  grid-column: 1/13;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.dev-cart > span {
  background: url("images/chessboard-mobile.PNG");
  background-repeat: no-repeat;
}

.dev-cart > span img {
  margin: 15px 0 0 15px;
}

.dev-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dev-title {
  color: var(--primary-color);
}

.developer-section button {
  width: 90%;
  padding: 2.5%;
  cursor: pointer;
  background-color: var(--base-color);
  border: 1px solid gray;
  border-radius: 5px;
}

.fa-chevron-down {
  color: var(--primary-color);
  font-weight: 900;
}

footer {
  display: none;
}

/* Viewports wider then 620px ---------------------------------------------------- */

@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  .welcome {
    background: url("images/main_big.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .footer-container img {
    width: 100px;
  }

  .navbar .nav-branding {
    display: flex;
  }

  .program-cart > img {
    width: unset;
    margin: auto;
    justify-self: center;
  }

  .navbar .nav-branding img {
    border-radius: 8px;
  }

  .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-color);
    background-color: white;
  }

  .navbar ul {
    display: flex;
    gap: 25px;
  }

  .welcome-text {
    gap: 30px;
    max-width: 70%;
    align-self: flex-start;
  }

  .main-program > button {
    display: none;
  }

  .main-program > a {
    display: block;
    color: var(--base-color);
    margin: 3%;
    border-bottom: 2px solid white;
  }

  .navbar ul * {
    color: var(--secondary-color);
  }

  .navbar ul li a:hover {
    color: var(--primary-color);
  }

  .navbar .fa-bars {
    display: none;
  }

  .program-carts {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(5, 20%);
    gap: 5px;
    cursor: pointer;
  }

  .program-cart {
    grid-column: span 1;
    flex-direction: column;
    padding: 25px 10px 40px;
  }

  .program-cart:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .program-cart > div {
    width: unset;
    color: var(--primary-color);
  }

  .program-cart > p {
    width: 100%;
    text-align: center;
    color: #fff;
  }

  .developer-section button {
    display: none;
  }

  footer {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--base-color);
    background-color: var(--secondary-color);
  }

  .footer-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* Viewports wider then 960px --------------------------------------------------- */

@media screen and (min-width: 960px) {
  body {
    overflow-x: hidden;

    /* font-size: 18px; */
  }
}

/* Viewports wider then 1200px ------------------------------------------------- */

@media screen and (min-width: 1200px) {
  body {
    overflow-x: hidden;

    /* font-size: 20px; */
  }
}
